@import url("../css/reset.css");
@import url("../css/normalize.css");
@import url("../css/common.css");
@import url("../css/styles.css");

/* media(반응형 구간) */
/* 1280 1024 768 540 348 */

/* 1280 */
@media (max-width: 1280px) {
  section {
    height: 100vh;
  }

  .sec-auto {
    width: 1140px;
  }

  .section_title {
    font-size: 3.33rem;
  }

  /* main section */
  .container {
    padding-top: 16.67em;
  }
  .sec01_title {
    margin-left: 5.83rem;
  }
  .main-title h3 {
    font-size: 3.33rem;
  }
  h1 {
    font-size: 4.67rem;
  }
  .main-text {
    font-size: 1.83rem;
  }
  .main_btn {
    margin-top: 8.33em;
  }

  .cars {
    width: 720px;
    top: 22%;
    right: 5%;
  }

  /* section02 */
  .section02 .d-flex {
    gap: 1.67em;
  }

  .sec02_title p {
    font-size: 1.67rem;
  }

  .sec02_content-box {
    height: 400px;
    border-radius: 15px 0;
  }
  .sec02_icon {
    width: 118px;
  }

  .sec02__text h3 {
    font-size: 1.83rem;
  }
  .sec02__text p {
    font-size: 1.33rem;
  }

  /* section03 */
  .section03 .d-flex-s {
    gap: 4em;
  }
  .sec03_content-box {
    padding: 6.42em 6.08em;
  }

  .sec03__input-box.d-flex-c {
    gap: 1.7em;
  }
  .sec03__input-box input {
    width: 100%;
    height: 33%;
    font-size: 1.5rem;
    color: #0b1030;
  }
  .sec03__input-box input::placeholder {
    font-size: 1.5rem;
    color: #cacbcc;
  }
  .sec03__btn {
    height: 78px;
    font-size: 1.83rem;
  }

  .sec03_event-box img {
    width: 400px;
    position: relative;
    bottom: 2%;
  }
  .sec03_event-txt {
    bottom: 10%;
  }

  /* section04 */
  .section04 .d-flex-s {
    gap: 6.67em;
  }

  .section04::after {
    width: 970px;
    height: 970px;
    top: 7%;
    right: 70%;
  }

  .section04 .sub-title {
    font-size: 2.5rem;
  }
  .mb-80 {
    margin-bottom: 3.5em;
  }

  /* section05 */
  .section05 .d-flex-s {
    gap: 6.67em;
  }

  .section05::after {
    width: 970px;
    height: 970px;
    top: 11%;
    left: 70%;
  }

  .section05 .sub-title {
    font-size: 2.5rem;
  }
  .mb-80 {
    margin-bottom: 3.5em;
  }

  /* section06 */
  .section06 .d-flex {
    gap: 8.5rem;
  }

  .sec06_content {
    height: 280px;
  }

  .sec06_content img {
    bottom: 62%;
    left: 30%;
  }

  .sec06__txt-box {
    margin-top: 11em;
  }
  .sec06__txt-box .sub-text {
    margin-bottom: 2rem;
  }
  .sec06__txt-box .sub-text p {
    font-size: 1.83rem;
  }
  .sec06__txt-box .sub-text .price {
    font-size: 3.33rem;
  }

  /* section07 */
  .section07 {
    height: auto;
  }
  .section07 .swiper-button-next {
    margin-right: 60px;
  }
  .section07 .swiper-button-prev {
    margin-left: 60px;
  }

  /* footer */
  footer {
    height: 350px;
  }
  footer .container {
    padding: 70px 0;
  }

  footer .container p {
    font-size: 1.67rem;
  }
}

/* 1024 */

@media (max-width: 1024px) {
  /* header */
  header {
    width: 100%;
    height: 65px;
  }
  .nav-bar {
    padding: 0.67rem 0;
  }
  .nav-bar.d-flex {
    justify-content: space-between;
  }


  .sec-auto {
    width: 960px;
  }

  /* main section */
  .sec01_title {
    margin-left: 2.67rem;
  }
  .main-title h3 {
    font-size: 3rem;
  }
  h1 {
    font-size: 4.17rem;
  }
  .main-text {
    font-size: 1.67rem;
    margin-top: 1.67em;
  }

  .main_btn {
    font-size: 1.5rem;
    padding: 1.33em 2.08em;
    border-radius: 2.5em;
    margin-top: 7.5em;
  }

  .ellipes {
    left: 65%;
  }
  .ellipes::after {
    content: "";
    position: absolute;
    width: 1278px;
    height: 1278px;
    border-radius: 100%;
    border: 1px solid #186efc;
    top: -100px;
    left: -100px;
  }
  .cars {
    width: 630px;
    top: 25%;
    right: 0;
  }

  /* section02 */
  .section02 .d-flex {
    gap: 1.08em;
  }

  .sec02_content-box {
    height: 370px;
    border-radius: 12px 0;
  }

  .sec02_icon {
    width: 113px;
  }

  .sec02__text h3 {
    font-size: 1.67rem;
  }
  .sec02__text p {
    font-size: 1.17rem;
  }

  /* section03 */
  .section03 .d-flex-s {
    gap: 2em;
  }
  .sec03__input-box.d-flex-c {
    gap: 1.5em;
  }

  .sec03_content-box {
    padding: 6.42em 3.3em;
  }
  .sec03__btn {
    height: 70px;
  }

  .sec03_event-box img {
    width: 370px;
    bottom: 0;
  }
  .sec03_event-txt {
    font-size: 1.67rem;
    top: 5%;
    bottom: 0;
  }

  /* section04 */
  .section04 .d-flex-s {
    gap: 2em;
  }

  .section04::after {
    width: 850px;
    height: 850px;
    top: 7%;
  }

  .sec04__txt-box {
    padding: 1.67em;
  }
  .section04 .sub-title {
    font-size: 2rem;
  }
  .section04 .sub-text {
    font-size: 1.33rem;
  }
  .mb-80 {
    margin-bottom: 4.5em;
  }

  /* section05 */
  .section05 .d-flex-s {
    gap: 2em;
  }

  .section05::after {
    width: 850px;
    height: 850px;
  }

  .sec05__txt-box {
    padding: 1.67em;
  }
  .section05 .sub-title {
    font-size: 2rem;
  }
  .section05 .sub-text {
    font-size: 1.33rem;
  }
  .mb-80 {
    margin-bottom: 4.5em;
  }

  /* section06 */
  .section06 .d-flex {
    gap: 6rem;
  }

  .sec06_content {
    height: 250px;
  }

  .sec06_content img {
    bottom: 62%;
    left: 27%;
  }

  .sec06__txt-box {
    margin-top: 10em;
  }
  .ml-36 {
    margin-left: 2.3rem;
  }
  .sec06__txt-box p {
    font-size: 1.83rem;
  }

  .sec06__txt-box .sub-text {
    margin-bottom: 1.67rem;
  }
  .sec06__txt-box .sub-text p {
    font-size: 1.83rem;
  }
  .sec06__txt-box .sub-text .price {
    font-size: 3rem;
  }

  /* footer */
  footer {
    height: 300px;
  }
  footer .container {
    padding: 47px 0;
  }

  footer .container p {
    font-size: 1.5rem;
  }
}

/* 768 */

@media (max-width: 768px) {
  p {
    margin: 5px 0;
  }
  section {
    height: auto;
  }

  .sec-auto {
    width: 720px;
  }

  
  /* header */
  header {
    height: 56px;
  }
  .nav-bar {
    padding: 1rem 0;
  }

  .logo h2{
    font-size: 1.7rem;
  }

  .gnb{
    display: none;
  }

  .menu-btn {
    display: block;
    width: 35px;
    cursor: pointer;
  }

  .mobile-gnb{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    position: absolute;
    border: none;
    border-radius: 0 0 0 15px;
    top: 56px;
    left: 70%;
    z-index: 999;
    background: #fff;
  }
  .mobile-gnb ul{
    width: fit-content;
    padding: 0;
  }
  .mobile-gnb li{
    list-style: none;
    padding: 10px 30px;
  }
  .mobile-gnb a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* main section */
  .sec01-bg {
    height: 100vh;
  }
  .container {
    padding: 0;
  }
  .container.d-flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .section_title {
    font-size: 3rem;
  }
  .sec01_title.w-40,
  .sec01_img.w-60 {
    width: 80%;
  }

  .sec01_title {
    margin: 0;
    position: relative;
    bottom: 14%;
    z-index: 20;
  }

  .main_btn {
    font-size: 1.33rem;
    padding: 1.33em 2.08em;
    margin-top: 3em;
  }

  .ellipes {
    width: 890px;
    height: 890px;
    left: 53%;
    bottom: 23%;
  }
  .ellipes::after {
    width: 1090px;
    height: 1090px;
  }
  .cars {
    position: relative;
    top: 0;
    width: 600px;
  }

  /* section02 */
  .section02 {
    padding: 4.33em 0;
  }
  .section02 .d-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.83em;
  }

  .sec02_title {
    margin-bottom: 4em;
  }
  .sec02_title p {
    font-size: 1.5rem;
  }

  .sec02_content-box.w-25 {
    width: 40%;
  }
  .sec02_content-box {
    height: 350px;
  }

  .sec02__text h3 {
    font-size: 1.83rem;
  }
  .sec02__text p {
    font-size: 1.33rem;
  }

  /* section03 */
  .section03 {
    padding: 4.33em 0;
  }
  .section03 .d-flex-s {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .section03 .w-50 {
    width: 80%;
  }

  .section03 .section_title {
    margin-bottom: 2rem;
  }

  .sec03_content-box {
    padding: 6.42em 6em;
  }

  .sec03_event-box img {
    width: 300px;
  }
  .sec03_event-txt {
    position: inherit;
    margin-bottom: 2em;
    font-size: 1.5rem;
  }
  .sec03__btn {
    font-size: 1.5rem;
  }
  /* section04 */
  .section04 {
    padding: 4.33em 0;
  }
  .section04 .d-flex-s {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  .section04 .w-50 {
    width: 80%;
  }

  .section04::after {
    top: 3%;
  }

  .sec04_img {
    width: 100%;
  }
  .mb-80 {
    margin-bottom: 1em;
  }

  /* section05 */
  .section05 {
    padding: 4.33em 0;
  }
  .section05 .d-flex-s {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  .section05 .w-50 {
    width: 80%;
  }

  .section05::after {
    top: 3%;
  }

  .sec05_img {
    width: 100%;
  }
  .mb-80 {
    margin-bottom: 1em;
  }

  .PConly {
    display: none;
  }

  /* section06 */
  .section06 {
    padding: 0 0 5em;
  }
  .section06 .d-flex {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .mt-47 {
    margin-top: 3em;
  }

  .sec06_title {
    margin-bottom: 4.5rem;
  }

  .sec06_content {
    width: 80%;
    height: auto;
    margin: auto;
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: space-between;
    gap: 3em;
  }

  .sec06_content img {
    width: 48%;
    height: auto;
    bottom: 0;
    left: 0;
    position: inherit;
  }

  .sec06__txt-box {
    margin-top: 0;
  }
  .ml-36 {
    margin-left: 0;
  }
  .sec06__txt-box p {
    font-size: 1.83rem;
  }

  .sec06__txt-box .sub-text {
    margin-bottom: 0;
  }
  .sec06__txt-box .sub-text p {
    font-size: 1.83rem;
    margin: 10px 3px 0;
  }
  .sec06__txt-box .sub-text .price {
    font-size: 3rem;
  }

  /* section07 */
  .sec07_title p {
    font-size: 1.5rem;
  }

  .sec07__content-txt p {
    font-size: 1.5rem;
  }

  .swiper.sec07_slide {
    padding: 0 85px;
  }
  .swiper-slide {
    width: 100%;
  }
  .section07 .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  /* footer */
  footer {
    height: 300px;
  }
  footer .container {
    padding: 67px 0;
  }

  footer .container p {
    font-size: 1.33rem;
  }
}

/* 540 */
@media (max-width: 540px) {
    /* header */
    header{
        height: 60px;
    }

    .menu-btn{
        width: 30px;
    }
    .nav-bar{
        padding: 1.2rem 1.67rem;
    }

    .mobile-gnb{
      width: 100vw;
      height: 100vh;
      text-align: center;
      border-radius: 0;
      top: 60px;
      left: 0;
    }
    .mobile-gnb li{
      padding: 15px 30px;
      margin: 20px 0;
    }
    .mobile-gnb a{
      font-size: 2rem;
    }



  .sec-auto {
    width: 100%;
  }

  .section_title {
    font-size: 2.5rem;
  }

  .sec01_title {
    text-align: center;
    bottom: 5%;
  }
  .main-title h3 {
    font-size: 2.67rem;
  }
  h1 {
    font-size: 3rem;
  }

  .ellipes {
    width: 650px;
    height: 650px;
    left: 52%;
    bottom: 40%;
  }
  .ellipes::after {
    width: 850px;
    height: 850px;
  }

  /* section02 */
  .section02 {
    padding: 3.33em 0;
  }

  .sec02_title {
    margin-bottom: 2.83em;
  }
  .sec02_title p {
    font-size: 1.33rem;
  }

  .section02 .d-flex {
    gap: 1.25em;
  }
  .sec02_content-box.w-25 {
    width: 80%;
  }
  .sec02_content-box {
    height: 180px;
    border-radius: 10px 0;
  }
  .sec02_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
  }

  .sec02_icon {
    width: 90px;
  }
  .sec02__text {
    text-align: inherit;
    margin: auto;
  }

  /* section03 */
  .section03 {
    padding: 3.33em 0;
  }

  .section03 .section_title {
    margin-bottom: 0;
  }

  .sec03_event-box img {
    width: 270px;
  }
  .sec03_event-txt {
    position: inherit;
    margin-bottom: 1em;
    font-size: 1.33rem;
  }

  .sec03_content-box {
    padding: 4em 3em;
  }
  .sec03__input-box.d-flex-c {
    gap: 1em;
  }
  .sec03__input-box input {
    font-size: 1.33rem;
    border-radius: 5px;
  }
  .sec03__input-box input::placeholder {
    font-size: 1.33rem;
  }
  .checkbox__txt {
    margin: 0.42rem 0;
  }
  .checkbox__txt span {
    font-size: 1.17rem;
    font-weight: 500;
    color: #5e5c5d;
    margin-left: 1.17rem;
  }
  .sec03__btn {
    height: 60px;
    font-size: 1.5rem;
  }

  /* section04 */
  .section04 {
    padding: 3.33em 0;
  }
  .section04 .d-flex-s {
    gap: 2em;
  }

  .section04::after {
    width: 600px;
    height: 600px;
    top: -5%;
    right: 62%;
  }

  .sec04__txt-box {
    padding: 1.33em;
  }
  .section04 .sub-title {
    font-size: 1.67rem;
    margin: 5px 10px;
  }
  .section04 .sub-text {
    font-size: 1.17rem;
    margin-top: 1.67rem;
  }
  .section04 .sub-text p {
    margin: 0 10px;
  }

  /* section05 */
  .section05 {
    padding: 3.33em 0;
  }
  .section05 .d-flex-s {
    gap: 2em;
  }
  .section05::after {
    width: 0;
  }

  .sec05__txt-box {
    padding: 1.33em;
  }
  .section05 .sub-title {
    font-size: 1.67rem;
    margin: 5px 10px;
  }
  .section05 .sub-text {
    font-size: 1.17rem;
    margin-top: 1.67rem;
  }
  .section05 .sub-text p {
    margin: 0 10px;
  }

  /* section06 */
  .section06 .d-flex {
    gap: 1.17em;
  }
  .mt-47 {
    margin-top: 1.17em;
  }

  .section06 .section_title {
    margin: 5px 0;
  }
  .sec06_title {
    margin-bottom: 2.83rem;
  }

  .sec06_content {
    padding: 1.33em 0;
    gap: 1.33em;
  }

  .sec06_content img {
    width: 43%;
  }

  .sec06__txt-box p {
    font-size: 1.5rem;
  }

  .sec06__txt-box .sub-text p {
    font-size: 1.33rem;
    margin: 0;
  }
  .sec06__txt-box .sub-text .price {
    font-size: 2.17rem;
    margin: 0 0 0 5px;
  }

  /* section07 */
  .section07 {
    padding: 3.33em 0;
    margin-top: 0;
  }

  .sec07_content-box .d-flex {
    display: block;
  }

  .swiper-slide {
    padding: 3.33rem;
  }

  .sec07__img {
    width: 120px;
    height: 120px;
    margin: auto auto 10px auto;
  }

  .sec07__name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec07__name .name {
    margin-right: 30px;
  }

  .sec07_title {
    margin-bottom: 5.33em;
  }

  .sec07_title p {
    font-size: 1.33rem;
  }

  .sec07__content-txt p {
    font-size: 1.33rem;
  }

  .swiper.sec07_slide {
    padding: 0 45px;
  }

  .sec07__name .name {
    font-size: 2rem;
    font-weight: 600;
    color: #212225;
  }

  .section07 .swiper-pagination {
    display: none;
  }

  /* footer */
  footer {
    height: 270px;
  }
  footer .container {
    width: 80%;
    padding: 45px 0;
  }

  footer .container p {
    font-size: 1.17rem;
  }
}

/* 348 */
@media (max-width: 348px) {
    /* header */
    .nav-bar{
        padding: 1.2rem 1.5rem;
    }
    
    .mobile-gnb li{
      margin: 15px 0;
    }

    .mobile-gnb a{
      font-size: 1.5rem;
    }


  .section_title {
    font-size: 1.83rem;
  }

  /* main section */
  .main-title h3 {
    font-size: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .main-text {
    font-size: 1.42rem;
  }

  .main_btn {
    font-size: 1.17rem;
    padding: 1.33em 2.08em;
    margin-top: 3em;
  }

  /* section02 */
  .section02 {
    padding: 2.5em 0;
  }
  .sec02_title {
    margin-bottom: 2.17em;
  }
  .sec02_title p {
    font-size: 1rem;
  }

  .section02 .d-flex {
    gap: 0.83em;
  }
  .sec02_content-box {
    height: 120px;
    padding: 0 1em;
  }

  .sec02_icon {
    width: 70px;
  }

  .sec02__text h3 {
    font-size: 1.33rem;
  }
  .sec02__text p {
    font-size: 1rem;
  }

  /* section03 */
  .section03 {
    padding: 2.5em 0;
  }
  .sec03_event-box img {
    width: 200px;
  }
  .sec03_event-txt {
    font-size: 1.08rem;
  }

  .sec03_content-box {
    padding: 3em 2em;
  }
  .sec03__input-box.d-flex-c {
    gap: 0.58em;
  }
  .sec03__input-box input {
    height: 38px;
    font-size: 1.17rem;
    padding: 1.08rem;
  }
  .sec03__input-box input::placeholder {
    font-size: 1.17rem;
  }
  .sec03__check {
    margin: 2em 0 3em;
  }
  .checkbox__txt {
    margin: 0.42rem 0;
  }
  .checkbox__txt span {
    font-size: 0.83rem;
    font-weight: 500;
    color: #5e5c5d;
    margin-left: 0.42rem;
  }
  .sec03__btn {
    height: 50px;
    font-size: 1.33rem;
  }

  /* section04 */
  .section04 {
    padding: 2.5em 0;
  }

  .section04 .d-flex-s {
    gap: 1.5em;
  }

  .sec04__txt-box {
    padding: 1em;
  }
  .mb-80 {
    margin-bottom: 0.67em;
  }
  .section04 .sub-title {
    font-size: 1.33rem;
  }
  .section04 .sub-text {
    font-size: 1rem;
    margin-top: 1.33rem;
  }

  /* section05 */
  .section05 {
    padding: 2.5em 0;
  }

  .section05 .d-flex-s {
    gap: 1.5em;
  }

  .sec05__txt-box {
    padding: 1em;
  }
  .mb-80 {
    margin-bottom: 0.67em;
  }
  .section05 .sub-title {
    font-size: 1.33rem;
  }
  .section05 .sub-text {
    font-size: 1rem;
    margin-top: 1.33rem;
  }

  /* section06 */
  .section06 .d-flex {
    gap: 0.83em;
  }

  .sec06_title {
    margin-bottom: 2.17rem;
  }

  .sec06_content {
    padding: 1.33em 0;
    gap: 1em;
  }

  .sec06_content img {
    width: 50%;
  }

  .sec06__txt-box p {
    font-size: 1.33rem;
  }

  .sec06__txt-box .sub-text p {
    font-size: 1.17rem;
  }
  .sec06__txt-box .sub-text .price {
    font-size: 1.5rem;
  }

  /* section07 */

  .sec07_title {
    margin-bottom: 3.33em;
  }

  .sec07_title p {
    font-size: 1rem;
  }

  .sec07__img {
    width: 100px;
    height: 100px;
  }

  .sec07__content-txt p {
    font-size: 0.83rem;
  }

  .swiper.sec07_slide {
    padding: 0 30px;
  }
  .swiper-slide {
    padding: 2.33rem;
  }

  /* footer */
  footer {
    height: 240px;
  }
  footer .container {
    padding: 38px 0;
  }

  footer .container p {
    font-size: 1rem;
  }
}
