@import url('../css/reset.css');
@import url('../css/normalize.css');
@import url('../css/common.css');



section{
    height: 937px;
}


/* main secteion */

.sec01-bg{
    background: #f8f8f8;
}

.container{
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding-top: 20.5em;
}

.sec01_title{
    margin-left: 23rem;
}
.main-title h3{
    font-size: 4rem;
    font-weight: 800;
    color: #949494;
    margin: 10px 0;
}
.main-text{
    font-size: 1.83rem;
    font-weight: 600;
    color: #949494;
    margin-top: 2em;
}
.point_txt{
    font-weight: 700;
    color: #186EFC;
}
.sec01_title a{
    text-decoration: none;
}

.main_btn{
    font-size: 1.5rem;
    font-weight: 500;
    color: #186EFC;
    text-align: center;
    padding: 1.83em 3.5em;
    border: 1px solid #186EFC;
    border-radius: 2.5em;
    background-color: transparent;
    margin-top: 9.58em;
}

.ellipes{
    width: 1078px;
    height: 1078px;
    background-color: #186EFC;
    border-radius: 100%;
    position: absolute;
    left: 70%;
    bottom: 0;
    z-index: 10;
}
.ellipes::after{
    content: "";
    position: absolute;
    width: 1278px;
    height: 1278px;
    border-radius: 100%;
    border: 1px solid #186EFC;
    top: -100px;
    left: -100px;
}
.cars{
    position: absolute;
    width: 813px;
    top: 25%;
    right: 12%;
    z-index: 999;
}


/* section02 */

.section02{
    padding: 10rem 0;
}

.section02 .d-flex{
    gap: 2em;
}

.sec02_title{
    text-align: center;
    margin-bottom: 7.33em;
}
.sec02_title p{
    font-size: 2rem;
    font-weight: 600;
    color: #5e5c5d;
}

.sec02_content-box{
    height: 455px;
    background-color: #186efc;
    border-radius: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec02_icon{
    width: 132px;
    margin: auto;
}

.sec02__text{
    color: #fff;
    text-align: center;
    margin-top: 3.5rem;
}
.sec02__text h3{
    font-size: 2rem;
    font-weight: 600;
}
.sec02__text p{
    font-size: 1.5rem;
    font-weight: 300;
}


/* section03 */

/* .section03{
    padding: 3.33rem 0 7.58rem;
}

.section03 .section_title{
    text-align: center;
} */